extends ../templates/layouts/base

block title
    title Steve Cochrane

block description
    meta(name="description", content="A front-end developer and designer from Austin, Texas.")

block openGraph
    meta(property="og:url", content="https://stevecochrane.com/")
    meta(property="og:title", content="Steve Cochrane")
    meta(property="og:description", content="A front-end developer and designer from Austin, Texas.")
    meta(property="og:site_name", content="Steve Cochrane")
    meta(property="og:image", content="https://stevecochrane.com/tumblr/images/portrait-512.png")

block page
    header.l-header
        h1 Hey! I'm Steve Cochrane, a front-end developer and designer from Austin, Texas. I like to make #[a(href="/portfolio/") websites], #[a(href="/videogames/") videogames], #[a(href="/music/") music], and #[a(href="/fonts/") fonts], and then #[a(href="http://blog.stevecochrane.com/") write] about it.
    .l-content
        #work.carousel
            h2 Recent Work
            ul.carousel-items
                li.carousel-item
                    a.carousel-link(href="/portfolio/"): img.carousel-image(src="/img/v4/recent-work-1.jpg", alt="Vidcaster", width="816", height="204")
                li.carousel-item
                    a.carousel-link(href="/portfolio/"): img.carousel-image(src="/img/v4/recent-work-2.jpg", alt="VidSF", width="816", height="204")
                li.carousel-item
                    a.carousel-link(href="/portfolio/"): img.carousel-image(src="/img/v4/recent-work-3.jpg", alt="Gruntled", width="816", height="204")
                li.carousel-item
                    a.carousel-link(href="/portfolio/"): img.carousel-image(src="/img/v4/recent-work-4.png", alt="VIDEOGAME", width="816", height="204")
            a.button.carousel-button(href="/portfolio/") See my recent work &rarr;
        .l-grid
            #blog.l-col-golden-main.l-col-padded.l-col-no-left-padding
                h2 Recent Writing
                ul.feed
                    li.feed-item
                        a.feed-link(href="http://blog.stevecochrane.com/post/129525257808/new-pixel-font-marietta-seven") New Pixel Font: Marietta Seven #[time.feed-item-date September 20, 2015]
                    li.feed-item
                        a.feed-link(href="http://blog.stevecochrane.com/post/64453034923/berserker") Berserker #[time.feed-item-date October 18, 2013]
                    li.feed-item
                        a.feed-link(href="http://blog.stevecochrane.com/post/59561933700/instigation-postmortem") INSTIGATION Postmortem #[time.feed-item-date August 27, 2013]
            #elsewhere.l-col-golden-sub.l-col-padded.l-col-no-right-padding
                h2 Elsewhere
                ul.icon-list
                    li#github.icon-list-item
                        a.icon-list-link(href="https://github.com/stevecochrane")
                            svg.icon.icon-28(role="img"): use(xlink:href="#icon-github")
                            | GitHub
                    li#resume.icon-list-item
                        a.icon-list-link(href="/resume/")
                            svg.icon.icon-28(role="img"): use(xlink:href="#icon-resume")
                            | Resume
                    li#email.icon-list-item
                        a.icon-list-link(href="mailto:steve@stevecochrane.com")
                            svg.icon.icon-28(role="img"): use(xlink:href="#icon-email")
                            | Email

block script
    script(src="/js/main.js")
