doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		block title
		block description
		meta(name="author", content="Steve Cochrane")
		block openGraph
		meta(name="twitter:card", content="summary")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		include ../partials/google-tag-manager-head.pug
	body
		include ../partials/google-tag-manager-body.pug
		include ../partials/defs.svg
		.l-page
			block page
			footer.l-footer
				p: small Copyright &copy; 2005&ndash;2018 #[a.link-subtle(href="https://stevecochrane.com/") Steve Cochrane]. All rights reserved.
		block script
