<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Steve Cochrane</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="The digital portfolio of Steve Cochrane, a full-stack web software engineer in Austin, Texas." />
		<meta name="author" content="Steve Cochrane" />
		<meta property="og:url" content="https://stevecochrane.com" />
		<meta property="og:title" content="Steve Cochrane" />
		<meta property="og:description" content="The digital portfolio of Steve Cochrane, a full-stack web software engineer in Austin, Texas." />
		<meta property="og:image" content="https://stevecochrane.com/tumblr/images/portrait-512.png" />
		<meta name="twitter:card" content="summary" />
	</head>
	<body>
		<div class="Wrapper">
			<div class="Wrapper-inner">
				<header class="Header">
					<h1 class="Header-title">Steve Cochrane</h1>
					<ul class="Header-items">
						<li class="Header-item"><a class="Header-link Link Link--small" href="https://www.linkedin.com/in/stevecochrane">LinkedIn</a></li>
						<li class="Header-item"><a class="Header-link Link Link--small" href="https://github.com/stevecochrane">GitHub</a></li>
						<li class="Header-item"><a class="Header-link Link Link--small" href="mailto:steve@stevecochrane.com">Email</a></li>
					</ul>
				</header>
				<main>
					<section class="Intro">
						<p class="Intro-message">
							Hello! I’m Steve Cochrane, a full-stack web software engineer with a passion for design. I currently make websites for
							<a class="Link Link--large" href="https://www.tableau.com/">Tableau</a> in Austin, Texas. Here is some of my recent work.
						</p>
					</section>
					{% for project in projects %}
						<section class="Project" id="{{ project.id }}">
							<h2 class="Project-title">{{ project.title }}</h2>
							<div class="Project-images">
								{% for image in project.images %}
									<picture class="Project-imageWrap Project-imageWrap--{{ image.size }}">
										{% if image.desktop.webp.1x %}
											<source
												srcset="{{ imageDir }}{{ image.desktop.webp.1x }}{% if image.desktop.webp.2x %} 1x, {{ imageDir }}{{ image.desktop.webp.2x }} 2x{% endif %}"
												media="(min-width: 640px)"
												type="image/webp"
											/>
										{% endif %}
										<source
											srcset="{{ imageDir }}{{ image.mobile.webp.1x }}{% if image.mobile.webp.2x %} 1x, {{ imageDir }}{{ image.mobile.webp.2x }} 2x{% endif %}"
											type="image/webp"
										/>
										{% if image.desktop.jpg.1x %}
											<source
												srcset="{{ imageDir }}{{ image.desktop.jpg.1x }}{% if image.desktop.jpg.2x %} 1x, {{ imageDir }}{{ image.desktop.jpg.2x }} 2x{% endif %}"
												media="(min-width: 640px)"
												type="image/jpeg"
											/>
										{% endif %}
										<source
											srcset="{{ imageDir }}{{ image.mobile.jpg.1x }}{% if image.mobile.jpg.2x }} 1x, {{ imageDir }}{{ image.mobile.jpg.2x }} 2x{% endif %}"
											type="image/jpeg"
										/>
										<img
											class="Project-image"
											src="{{ imageDir }}{{ image.mobile.jpg.1x }}"
											width="{{ image.width }}"
											height="{{ image.height }}"
											loading="{{#if @../first}}eager{{else}}lazy{{/if}}"
											alt="{{ image.alt }}"
										/>
									</picture>
								{% endfor %}
							</div>
							<div class="Project-description">
								<div class="Project-summary">
									<ul class="Project-summaryItems">
										<li class="Project-summaryItem"><strong class="Project-summaryItemTitle">Role</strong> {{ project.role }}</li>
										<li class="Project-summaryItem"><strong class="Project-summaryItemTitle">Client</strong> {{ project.client }}</li>
										<li class="Project-summaryItem"><strong class="Project-summaryItemTitle">Date</strong> {{ project.date }}</li>
									</ul>
								</div>
								<div class="Project-body">
									{% for element in body %}
										{{ element | safe }}
									{% endfor %}
									{% if project.buttons %}
										<div class="ButtonGroup">
											{% for button in project.buttons %}
												<a class="Button" href="{{ button.linkUrl }}" aria-label="{{ button.labelWithContext }}" target="_blank" rel="noopener">{{ button.label }}</a>
											{% endfor %}
										</div>
									{% endif %}
								</div>
							</div>
						</section>
					{% endfor %}
					<section class="Closing">
						<h2 class="Closing-message">Thanks for visiting!</h2>
						<ul class="Closing-items">
							<li class="Closing-item"><a class="Closing-link Link" href="https://www.linkedin.com/in/stevecochrane">See my work history on LinkedIn</a></li>
							<li class="Closing-item"><a class="Closing-link Link" href="https://github.com/stevecochrane">Check out my personal projects on GitHub</a></li>
							<li class="Closing-item"><a class="Closing-link Link" href="mailto:steve@stevecochrane.com">Send me an email</a></li>
						</ul>
					</section>
				</main>
				<footer class="Footer">
					<p class="Footer-copyright">Copyright © 2005–{{ currentYear }} Steve Cochrane. All rights reserved.</p>
				</footer>
			</div>
		</div>
	</body>
</html>
