doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Portfolio - Steve Cochrane
		meta(name="description", content="The digital portfolio of Steve Cochrane, a web software engineer and designer from Austin, Texas.")
		meta(name="author", content="Steve Cochrane")
		meta(property="og:url", content="https://stevecochrane.com/portfolio/")
		meta(property="og:title", content="Portfolio")
		meta(property="og:description", content="The digital portfolio of Steve Cochrane, a web software engineer and designer from Austin, Texas.")
		meta(property="og:site_name", content="Steve Cochrane")
		meta(property="og:image", content="https://stevecochrane.com/tumblr/images/portrait-512.png")
		meta(name="twitter:card", content="summary")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		include ./partials/google-tag-manager/head.pug
	body
		include ./partials/google-tag-manager/body.pug
		header
			div
				h1: a(href="/") Steve Cochrane
				h2 Web Software Engineer &amp; Designer
				ul
					li: a(href="https://www.linkedin.com/in/stevecochrane") LinkedIn
					li: a(href="https://github.com/stevecochrane/") GitHub
					li: a(href="mailto:steve@stevecochrane.com") Email
		#main(role="main")
			include ./partials/projects/blizzcon-2018-virtual-ticket
			include ./partials/projects/rise-of-the-necromancer
			include ./partials/projects/wow-redesign
			include ./partials/projects/diablo-20th-anniversary
			include ./partials/projects/html-reference-web-application
			include ./partials/projects/wow-legion
			include ./partials/projects/andy-wowhol
			include ./partials/projects/wow-garrisons
			include ./partials/projects/pixel-art-scrapbook
			include ./partials/projects/vidcaster-theme-editor
			include ./partials/projects/vidcaster-website
			include ./partials/projects/vidcaster-video-player
			include ./partials/projects/vidcaster-themes
		footer
			div
				p Copyright &copy; 2005&ndash;2018 Steve Cochrane. All rights reserved.
