doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Steve Cochrane
		meta(name="description",
			content="The digital portfolio of Steve Cochrane, a web software engineer from Austin, Texas.")
		meta(name="author", content="Steve Cochrane")
		meta(property="og:url", content="https://stevecochrane.com")
		meta(property="og:title", content="Steve Cochrane")
		meta(property="og:description",
			content="The digital portfolio of Steve Cochrane, a web software engineer from Austin, Texas.")
		meta(property="og:site_name", content="Steve Cochrane")
		meta(property="og:image", content="https://stevecochrane.com/tumblr/images/portrait-512.png")
		meta(name="twitter:card", content="summary")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		include ./partials/google-tag-manager/head.pug
	body
		include ./partials/google-tag-manager/body.pug
		.Wrapper
			header.Header
				.Header-wrap
					h1.Header-title Steve Cochrane
					ul.Header-items
						li.Header-item: a.Header-link.Link.Link--small(href="https://www.linkedin.com/in/stevecochrane") LinkedIn
						li.Header-item: a.Header-link.Link.Link--small(href="https://github.com/stevecochrane") GitHub
						li.Header-item: a.Header-link.Link.Link--small(href="mailto:steve@stevecochrane.com") Email
			section.Intro
				.Intro-wrap
					h2.Intro-message.
						Hello! I’m Steve Cochrane, a web software engineer with a passion for design. I currently make websites for
						#[a.Link.Link--large(href="https://www.blizzard.com") Blizzard Entertainment] in Austin, Texas. Here is some of my recent work.
			include ./partials/projects/blizzcon-2018-virtual-ticket
			include ./partials/projects/rise-of-the-necromancer
			include ./partials/projects/wow-redesign
			include ./partials/projects/diablo-20th-anniversary
			include ./partials/projects/html-reference-web-application
			include ./partials/projects/wow-legion
			include ./partials/projects/andy-wowhol
			include ./partials/projects/wow-garrisons
			include ./partials/projects/pixel-art-scrapbook
			include ./partials/projects/vidcaster-theme-editor
			include ./partials/projects/vidcaster-website
			include ./partials/projects/vidcaster-video-player
			include ./partials/projects/vidcaster-themes
			section.Closing
				.Closing-wrap
					h2.Closing-message Thanks for visiting!
					ul.Closing-items
						li.Closing-item
							a.Closing-link.Link(href="https://www.linkedin.com/in/stevecochrane") See my work history on LinkedIn
						li.Closing-item
							a.Closing-link.Link(href="https://github.com/stevecochrane") Check out my personal projects on GitHub
						li.Closing-item
							a.Closing-link.Link(href="mailto:steve@stevecochrane.com") Send me an email
			footer.Footer
				.Footer-wrap
					p.Footer-copyright Copyright &copy; 2005&ndash;2018 Steve Cochrane. All rights reserved.
