@font-face {
	font-family: "Tofino";
	font-style: normal;
	font-weight: 100;
	src: url("/webfonts/Tofino-Thin.woff2") format("woff2"),
	     url("/webfonts/Tofino-Thin.woff") format("woff");
}

@font-face {
	font-family: "Tofino";
	font-style: italic;
	font-weight: 100;
	src: url("/webfonts/Tofino-ThinItalic.woff2") format("woff2"),
	     url("/webfonts/Tofino-ThinItalic.woff") format("woff");
}

@font-face {
	font-family: "Tofino";
	font-style: normal;
	font-weight: 200;
	src: url("/webfonts/Tofino-Light.woff2") format("woff2"),
	     url("/webfonts/Tofino-Light.woff") format("woff");
}

@font-face {
	font-family: "Tofino";
	font-style: italic;
	font-weight: 200;
	src: url("/webfonts/Tofino-LightItalic.woff2") format("woff2"),
	     url("/webfonts/Tofino-LightItalic.woff") format("woff");
}

@font-face {
	font-family: "Tofino";
	font-style: normal;
	font-weight: 300;
	src: url("/webfonts/Tofino-Book.woff2") format("woff2"),
	     url("/webfonts/Tofino-Book.woff") format("woff");
}

@font-face {
	font-family: "Tofino";
	font-style: italic;
	font-weight: 300;
	src: url("/webfonts/Tofino-BookItalic.woff2") format("woff2"),
	     url("/webfonts/Tofino-BookItalic.woff") format("woff");
}

@font-face {
	font-family: "Tofino";
	font-style: normal;
	font-weight: 400;
	src: url("/webfonts/Tofino-Regular.woff2") format("woff2"),
	     url("/webfonts/Tofino-Regular.woff") format("woff");
}

@font-face {
	font-family: "Tofino";
	font-style: italic;
	font-weight: 400;
	src: url("/webfonts/Tofino-RegularItalic.woff2") format("woff2"),
	     url("/webfonts/Tofino-RegularItalic.woff") format("woff");
}

@font-face {
	font-family: "Tofino";
	font-style: normal;
	font-weight: 500;
	src: url("/webfonts/Tofino-Medium.woff2") format("woff2"),
	     url("/webfonts/Tofino-Medium.woff") format("woff");
}

@font-face {
	font-family: "Tofino";
	font-style: italic;
	font-weight: 500;
	src: url("/webfonts/Tofino-MediumItalic.woff2") format("woff2"),
	     url("/webfonts/Tofino-MediumItalic.woff") format("woff");
}

@font-face {
	font-family: "Tofino";
	font-style: normal;
	font-weight: 600;
	src: url("/webfonts/Tofino-Semibold.woff2") format("woff2"),
	     url("/webfonts/Tofino-Semibold.woff") format("woff");
}

@font-face {
	font-family: "Tofino";
	font-style: italic;
	font-weight: 600;
	src: url("/webfonts/Tofino-SemiboldItalic.woff2") format("woff2"),
	     url("/webfonts/Tofino-SemiboldItalic.woff") format("woff");
}

@font-face {
	font-family: "Tofino";
	font-style: normal;
	font-weight: 700;
	src: url("/webfonts/Tofino-Bold.woff2") format("woff2"),
	     url("/webfonts/Tofino-Bold.woff") format("woff");
}

@font-face {
	font-family: "Tofino";
	font-style: italic;
	font-weight: 700;
	src: url("/webfonts/Tofino-BoldItalic.woff2") format("woff2"),
	     url("/webfonts/Tofino-BoldItalic.woff") format("woff");
}

@font-face {
	font-family: "Tofino";
	font-style: normal;
	font-weight: 800;
	src: url("/webfonts/Tofino-Black.woff2") format("woff2"),
	     url("/webfonts/Tofino-Black.woff") format("woff");
}

@font-face {
	font-family: "Tofino";
	font-style: italic;
	font-weight: 800;
	src: url("/webfonts/Tofino-BlackItalic.woff2") format("woff2"),
	     url("/webfonts/Tofino-BlackItalic.woff") format("woff");
}

@font-face {
	font-family: "Tofino";
	font-style: normal;
	font-weight: 900;
	src: url("/webfonts/Tofino-Ultra.woff2") format("woff2"),
	     url("/webfonts/Tofino-Ultra.woff") format("woff");
}

@font-face {
	font-family: "Tofino";
	font-style: italic;
	font-weight: 900;
	src: url("/webfonts/Tofino-UltraItalic.woff2") format("woff2"),
	     url("/webfonts/Tofino-UltraItalic.woff") format("woff");
}
