:root {
	--color-palette-primary:   #ff6c6a;
	--color-palette-secondary: #ffbb72;
	--color-palette-tertiary:  #989490;

	--color-palette-primary-dark:   #129596;
	--color-palette-secondary-dark: #0b458e;
	--color-palette-tertiary-dark:  #9898ab;

	--color-background-content:         oklch(from var(--color-palette-tertiary)  calc(l + 0.325) c h);
	--color-background-content-dark:    oklch(from var(--color-palette-tertiary)  calc(l - 0.425) c h);
	--color-border:                     oklch(from var(--color-palette-tertiary)  calc(l + 0.25) c h);
	--color-border-dark:                oklch(from var(--color-palette-tertiary)  calc(l - 0.3) c h);
	--color-link:                       var(--color-palette-primary);
	--color-link-dark:                  oklch(from var(--color-palette-primary)   calc(l + 0.1) c h);
	--color-link-border:                oklch(from var(--color-palette-primary)   l c h / 75%);
	--color-link-border-dark:           var(--color-palette-primary);
	--color-link-hover-text:            oklch(from var(--color-palette-primary)   calc(l - 0.2) c h);
	--color-link-hover-text-dark:       oklch(from var(--color-palette-primary)   calc(l + 0.25) c h);
	--color-link-hover-background:      oklch(from var(--color-palette-primary)   calc(l - 0.1) c h);
	--color-link-hover-background-dark: oklch(from var(--color-palette-primary)   calc(l + 0.2) c h);
	--color-text-body:                  oklch(from var(--color-palette-tertiary)  calc(l - 0.225) c h);
	--color-text-body-dark:             oklch(from var(--color-palette-tertiary)  calc(l + 0.15) c h);
	--color-text-button:                var(--color-background-content);
	--color-text-button-dark:           oklch(from var(--color-text-body)         calc(l + 0.25) c h);
	--color-text-header:                oklch(from var(--color-palette-tertiary)  calc(l - 0.25) c h);
	--color-text-header-dark:           oklch(from var(--color-palette-tertiary)  calc(l + 0.2) c h);
	--color-text-subtle:                oklch(from var(--color-palette-tertiary)  calc(l + 0.1) c h);
	--color-text-subtle-dark:           oklch(from var(--color-palette-tertiary)  calc(l - 0.1) c h);

	--font-size-xs:  0.875rem; /* 14px */
	--font-size-sm:      1rem; /* 16px */
	--font-size-md:  1.125rem; /* 18px */
	--font-size-lg: 1.6875rem; /* 27px */
	--font-size-xl:   2.25rem; /* 36px */

	--font-weight-normal: 400;
	--font-weight-bold:   700;

	--grid-column-width: calc(var(--page-width-int) / 10);

	--page-width: 80rem;
	--page-width-int: 1280;
	--page-width-outer: calc(var(--page-width) + (var(--space-xl) * 2));
	--page-width-outer-int: calc(var(--page-width-int) + (var(--space-xl-int) * 2));

	--space-base-unit: 1.75rem;
	--space-base-unit-int: 28;
	--space-sm:      calc(var(--space-base-unit) * 0.5);
	--space-md:      calc(var(--space-base-unit) * 1);
	--space-lg:      calc(var(--space-base-unit) * 1.5);
	--space-xl:      calc(var(--space-base-unit) * 2);
	--space-xxl:     calc(var(--space-base-unit) * 3);
	--space-sm-int:  calc(var(--space-base-unit-int) * 0.5);
	--space-md-int:  calc(var(--space-base-unit-int) * 1);
	--space-lg-int:  calc(var(--space-base-unit-int) * 1.5);
	--space-xl-int:  calc(var(--space-base-unit-int) * 2);
	--space-xxl-int: calc(var(--space-base-unit-int) * 3);

	@media (prefers-color-scheme: dark) {
		--color-palette-primary:       var(--color-palette-primary-dark);
		--color-palette-secondary:     var(--color-palette-secondary-dark);
		--color-palette-tertiary:      var(--color-palette-tertiary-dark);
		--color-background-content:    var(--color-background-content-dark);
		--color-border:                var(--color-border-dark);
		--color-link:                  var(--color-link-dark);
		--color-link-border:           var(--color-link-border-dark);
		--color-link-hover-text:       var(--color-link-hover-text-dark);
		--color-link-hover-background: var(--color-link-hover-background-dark);
		--color-text-body:             var(--color-text-body-dark);
		--color-text-button:           var(--color-text-button-dark);
		--color-text-header:           var(--color-text-header-dark);
		--color-text-subtle:           var(--color-text-subtle-dark);
	}
}

@custom-media --mq-small  (min-width: 50em); /*  800px */
@custom-media --mq-medium (min-width: 60em); /*  960px */
@custom-media --mq-large  (min-width: 80em); /* 1280px */
@custom-media --mq-xlarge (min-width: 87em); /* 1392px */

html {
	box-sizing: border-box;
	font-size: 87.5%;

	@media (--mq-medium) {
		font-size: 100%;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-attachment: fixed;
	background-color: var(--color-background-content);
	background-image: linear-gradient(to right, var(--color-palette-primary), var(--color-palette-secondary));
	background-size: 100vw 100vh;
	color: var(--color-text-body);
	font-family: "Tofino", sans-serif;
	font-kerning: normal;
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-normal);
	line-height: var(--space-md);
	margin: 0;

	@media (--mq-xlarge) {
		background-image: linear-gradient(to top right, var(--color-palette-primary), var(--color-palette-secondary));
	}
}

p,
ul {
	margin: 0;
	padding: 0;
}

p + p,
p + ul,
ul + p {
	margin-block-start: var(--space-md);
}

.Link {
	border-block-end: 1px solid var(--color-link-border);
	color: var(--color-link);
	text-decoration: none;
	transition: border-color 0.2s, color 0.2s;

	&:hover,
	&:focus {
		border-color: var(--color-link-hover-text);
		color: var(--color-link-hover-text);
	}
}

.Link--small {
	border-block-end: none;
	font-weight: var(--font-weight-bold);
}

.Link--large {
	border-block-end-width: 2px;
}

.List {
	list-style: circle outside;
	padding-inline-start: var(--space-md);
}

.List-item {
	font-size: var(--font-size-sm);
	line-height: var(--space-md);
}

.Wrapper {
	background-color: var(--color-background-content);
	margin: var(--space-sm) auto 0;

	display: grid;
	grid-template-columns: repeat(22, 1fr);

	@media (--mq-xlarge) {
		margin-block-start: 0;
		max-inline-size: var(--page-width-outer);
	}
}

/* .Wrapper-inner {
	padding-inline: calc((var(--space-xl-int) / var(--page-width-outer-int)) * 100%);
} */

.Header {
	border-block-end: 1px solid var(--color-border);
	/* display: flex;
	flex-direction: column; */
	padding-block-end: var(--space-sm);
	padding-block-start: var(--space-lg);
	position: relative;

	display: grid;
	grid-column: 2 / 22;
	grid-template-columns: subgrid;

	@media (--mq-small) {
		/* flex-direction: row; */
	}

	@media (--mq-xlarge) {
		padding-block-start: var(--space-xl);
	}
}

.Header-title {
	/* flex: 0 1 auto; */
	font-size: var(--font-size-sm);
	grid-column: 1 / 21;
	line-height: var(--space-md);
	margin: 0;
	text-align: center;

	@media (--mq-small) {
		/* margin-inline-start: calc((var(--space-sm-int) / var(--page-width-int)) * 100%); */
		grid-column: 1 / 11;
		padding-inline-start: var(--space-sm);
		text-align: start;
	}
}

.Header-items {
	/* display: flex; */
	/* flex: 1 1 auto; */
	display: flex;
	grid-column: 1 / 21;
	justify-content: center;
	list-style: none;

	@media (--mq-small) {
		/* justify-content: flex-end; */
		/* position: relative; */
		grid-column: 11 / 21;
		justify-content: end;
	}
}

.Header-item {
	/* flex: 0 1 auto; */
	font-size: var(--font-size-sm);
}

.Header-link {
	display: block;
	padding-inline: var(--space-sm);
}

main {
	display: contents;
}

.Intro {
	padding-block: var(--space-lg);

	display: grid;
	grid-column: 2 / 22;
	grid-template-columns: subgrid;

	@media (--mq-small) {
		/* padding-inline: calc((var(--space-sm-int) / var(--page-width-int)) * 100%); */
	}

	@media (--mq-medium) {
		padding-block: var(--space-xxl);
		/* padding-inline: calc(((var(--grid-column-width) * 1.5) / var(--page-width-int)) * 100%); */
	}
}

.Intro-message {
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-normal);
	grid-column: 1 / 21;
	line-height: var(--space-lg);
	margin: 0;

	@media (--mq-small) {
		grid-column: 2 / 20;
	}

	@media (--mq-medium) {
		grid-column: 4 / 19;
	}
}

.Project {
	border-block-start: 1px solid var(--color-border);
	padding-block: var(--space-lg);

	display: grid;
	grid-column: 2 / 22;
	grid-template-columns: subgrid;

	@media (--mq-medium) {
		padding-block: var(--space-xxl);
	}
}

.Project-title {
	color: var(--color-text-header);
	font-size: var(--font-size-xl);
	line-height: var(--space-lg);
	margin-block-end: var(--space-md);
	margin-block-start: 0;
	/* margin-inline: calc((var(--space-xl-int) / var(--page-width-int)) * 100%); */
	text-align: center;
	text-wrap: balance;

	grid-column: 1 / 21;
	margin-inline: var(--space-md);

	@media (--mq-small) {
		margin-block-end: var(--space-lg);
	}
}

.Project-images {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	grid-column: 1 / 21;

	@media (--mq-small) {
		/* justify-content: space-between; */
	}
}

.Project-imageWrap {
	box-shadow: 0 1px 8px var(--color-border);
}

/* .Project-imageWrap--half {
	@media (--mq-small) {
		max-inline-size: calc((((var(--page-width-int) - var(--space-md-int)) * 0.5) / var(--page-width-int)) * 100%);
	}
}

.Project-imageWrap--third {
	@media (--mq-small) {
		max-inline-size: calc(
			(((var(--page-width-int) - var(--space-md-int)) * 0.33333333) / var(--page-width-int)) * 100%
		);
	}
} */

.Project-imageWrap + .Project-imageWrap {
	margin-block-start: var(--space-md);
}

/* .Project-imageWrap--half + .Project-imageWrap--half,
.Project-imageWrap--third + .Project-imageWrap--third {
	@media (--mq-small) {
		margin-block-start: 0;
	}
} */

.Project-image {
	block-size: auto;
	display: block;
	max-inline-size: 100%;
}

.Project-description {
	/* display: flex;
	flex-flow: column wrap;
	justify-content: center; */

	display: grid;
	grid-column: 1 / 21;
	grid-template-columns: subgrid;

	/* @media (--mq-small) {
		flex-flow: row-reverse nowrap;
	} */
}

.Project-body {
	/* flex: 0 1 auto; */
	padding-block-start: var(--space-lg);
	/* padding-inline: calc((var(--space-xxl-int) / var(--page-width-int)) * 100%); */

	grid-column: 2 / 20;

	@media (--mq-small) {
		/* inline-size: calc(((var(--grid-column-width) * 7.5) / var(--page-width-int)) * 100%);
		padding-inline: calc(((var(--grid-column-width) * 0.5) / var(--page-width-int)) * 100%); */

		grid-column: 3 / 12;
	}

	@media (--mq-medium) {
		/* inline-size: calc(((var(--grid-column-width) * 6.5) / var(--page-width-int)) * 100%);
		padding-block-start: var(--space-xl);
		padding-inline: calc((var(--grid-column-width) / var(--page-width-int)) * 100%); */
	}
}

.Project-summary {
	/* flex: 0 1 auto; */
	padding-block-start: var(--space-lg);

	display: grid;
	grid-column: 1 / 21;
	grid-template-columns: subgrid;

	@media (--mq-small) {
		/* inline-size: calc(((var(--grid-column-width) * 4) / var(--page-width-int)) * 100%);
		padding-inline-end: calc(((var(--grid-column-width) * 0.5) / var(--page-width-int)) * 100%); */

		grid-column: 14 / 19;
	}

	@media (--mq-medium) {
		/* inline-size: calc(((var(--grid-column-width) * 3.5) / var(--page-width-int)) * 100%);
		padding-block-start: var(--space-xl);
		padding-inline-end: calc((var(--grid-column-width) / var(--page-width-int)) * 100%); */
	}
}

.Project-summaryItems {
	/* list-style: none;
	position: relative;

	&::after {
		border-block-end: 1px solid var(--color-border);
		content: "";
		inset-block-end: 0;
		inset-inline: 0;
		position: absolute;
	} */

	display: contents;
}

.Project-summaryItem {
	block-size: var(--space-md);
	font-size: var(--font-size-xs);
	/* padding-inline-start: calc((var(--space-xxl-int) / var(--page-width-int)) * 100%); */
	position: relative;

	display: grid;
	grid-column: 1 / 21;
	grid-template-columns: subgrid;
	list-style: none;

	&::before {
		border-block-start: 1px solid var(--color-border);
		content: "";
		inset-block-start: -1px;
		inset-inline: 0;
		position: absolute;
	}

	&:last-of-type::after {
		border-block-end: 1px solid var(--color-border);
		content: "";
		inset-block-end: 0;
		inset-inline: 0;
		position: absolute;
	}

	@media (--mq-small) {
		/* padding-inline-start: var(--space-sm); */
	}
}

.Project-summaryItemWrap {
	grid-column: 2 / 20;
}

.Project-summaryItemTitle {
	display: inline-block;
	inline-size: 3rem;
}

.ButtonGroup {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin-block-start: var(--space-md);

	@media (--mq-large) {
		flex-direction: row;
	}
}

.Button {
	background-color: var(--color-link);
	border-radius: 0.375rem;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: var(--color-text-button);
	display: inline-block;
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-bold);
	line-height: var(--space-md);
	margin-block-end: 0.0625rem;
	margin-block-start: calc(var(--space-sm) + 0.0625rem);
	padding-block: 0.375rem;
	padding-inline: 1.25rem;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	transition: background-color 0.2s, color 0.2s;

	&:hover,
	&:focus {
		background-color: var(--color-link-hover-background);
		color: var(--color-text-button);
	}

	&:first-child {
		margin-block-start: 0.1rem;
	}

	@media (--mq-large) {
		margin-block-start: 0.1rem;
		margin-inline-start: var(--space-sm);

		&:first-child {
			margin-inline-start: 0;
		}
	}
}

.Closing {
	border-block-start: 1px solid var(--color-border);
	padding-block: var(--space-lg);
	/* padding-inline: calc((var(--space-sm-int) / var(--page-width-int)) * 100%); */

	grid-column: 2 / 22;

	@media (--mq-medium) {
		padding-block: var(--space-xxl);
		/* padding-inline: calc(((var(--grid-column-width) * 1.5) / var(--page-width-int)) * 100%); */
	}
}

.Closing-message {
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-normal);
	line-height: var(--space-xl);
	margin-block-end: var(--space-sm);
	margin-block-start: 0;
	text-align: center;

	@media (--mq-medium) {
		margin-block-end: var(--space-md);
	}
}

.Closing-items {
	line-height: var(--space-lg);
	list-style: none;
	text-align: center;

	@media (--mq-medium) {
		line-height: var(--space-xl);
	}
}

.Footer {
	border-block-start: 1px solid var(--color-border);
	padding-block-end: var(--space-lg);
	padding-block-start: var(--space-sm);

	grid-column: 2 / 22;
}

.Footer-copyright {
	color: var(--color-text-subtle);
	font-size: var(--font-size-xs);
	line-height: var(--space-md);
	margin: 0;
	text-align: center;
}
