:root {
	--color-palette-primary: #ff6c6a;
	--color-palette-secondary: #ffbb72;
	--color-palette-tertiary: #99857d;

	--color-background-content: #faf9f9; /* http://www.0to255.com/998B7d +13 */
	--color-border: #e4e0dc; /* http://www.0to255.com/998B7d +10 */
	--color-link: var(--color-palette-primary);
	--color-link-border: rgba(255, 91, 89, 0.75); /* RGB values same as color-palette-primary */
	--color-link-hover-text: #d00300; /* http://www.0to255.com/ff6c6a -9 */
	--color-link-hover-background: #ff1815; /* http://www.0to255.com/ff6c6a -5 */
	--color-text-body: #595046; /* http://www.0to255.com/998B7d -7 */
	--color-text-header: #50473e; /* http://www.0to255.com/998B7d -8 */
	--color-text-subtle: #a09387; /* http://www.0to255.com/998B7d +1 */

	--font-size-xs: 0.875rem; /* 14px */
	--font-size-sm: 1rem; /* 16px */
	--font-size-md: 1.125rem; /* 18px */
	--font-size-lg: 1.6875rem; /* 27px */
	--font-size-xl: 2.25rem; /* 36px */

	--font-weight-normal: 400;
	--font-weight-bold: 700;

	--grid-column-width: calc(var(--page-width-int) / 10);

	--page-width: 80rem;
	--page-width-int: 1280;
	--page-width-outer: calc(var(--page-width) + (var(--space-xl) * 2));
	--page-width-outer-int: calc(var(--page-width-int) + (var(--space-xl-int) * 2));

	--space-base-unit: 1.75rem;
	--space-base-unit-int: 28;
	--space-sm: calc(var(--space-base-unit) * 0.5);
	--space-md: calc(var(--space-base-unit) * 1);
	--space-lg: calc(var(--space-base-unit) * 1.5);
	--space-xl: calc(var(--space-base-unit) * 2);
	--space-xxl: calc(var(--space-base-unit) * 3);
	--space-sm-int: calc(var(--space-base-unit-int) * 0.5);
	--space-md-int: calc(var(--space-base-unit-int) * 1);
	--space-lg-int: calc(var(--space-base-unit-int) * 1.5);
	--space-xl-int: calc(var(--space-base-unit-int) * 2);
	--space-xxl-int: calc(var(--space-base-unit-int) * 3);
}

@custom-media --mq-small (min-width: 50em); /*  800px */
@custom-media --mq-medium (min-width: 60em); /*  960px */
@custom-media --mq-large (min-width: 80em); /* 1280px */
@custom-media --mq-xlarge (min-width: 87em); /* 1392px */

html {
	box-sizing: border-box;
	font-size: 87.5%;

	@media (--mq-medium) {
		font-size: 100%;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-attachment: fixed;
	background-color: var(--color-palette-primary);
	background-image: linear-gradient(to top right, var(--color-palette-primary), var(--color-palette-secondary));
	background-size: 100vw 100vh;
	color: var(--color-text-body);
	font-family: "Tofino", sans-serif;
	font-kerning: normal;
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-normal);
	line-height: var(--space-md);
	margin: 0;
}

p,
ul,
dl,
dd {
	margin: 0;
	padding: 0;
}

p + p,
p + ul,
ul + p {
	margin-block-start: var(--space-md);
}

.Link {
	border-block-end: 1px solid var(--color-link-border);
	color: var(--color-link);
	text-decoration: none;
	transition: border-color 0.2s, color 0.2s;

	&:hover,
	&:focus {
		border-color: var(--color-link-hover-text);
		color: var(--color-link-hover-text);
	}
}

.Link--small {
	border-block-end: none;
	font-weight: var(--font-weight-bold);
}

.Link--large {
	border-block-end-width: 2px;
}

.List {
	list-style: circle outside;
	padding-inline-start: var(--space-md);
}

.List-item {
	font-size: var(--font-size-sm);
	line-height: var(--space-md);
}

.Wrapper {
	background: var(--color-background-content);
	margin: var(--space-sm) auto 0;

	@media (--mq-xlarge) {
		margin-block-start: 0;
		max-inline-size: var(--page-width-outer);
	}
}

.Wrapper-inner {
	padding-inline: calc((var(--space-xl-int) / var(--page-width-outer-int)) * 100%);
}

.Header {
	border-block-end: 1px solid var(--color-border);
	display: flex;
	flex-direction: column;
	padding-block-end: var(--space-sm);
	padding-block-start: var(--space-lg);
	position: relative;

	@media (--mq-small) {
		flex-direction: row;
	}

	@media (--mq-xlarge) {
		padding-block-start: var(--space-xl);
	}
}

.Header-title {
	flex: 0 1 auto;
	font-size: var(--font-size-sm);
	line-height: var(--space-md);
	margin: 0;
	text-align: center;

	@media (--mq-small) {
		margin-inline-start: calc((var(--space-sm-int) / var(--page-width-int)) * 100%);
		text-align: start;
	}
}

.Header-items {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	list-style: none;

	@media (--mq-small) {
		justify-content: flex-end;
		position: relative;
	}
}

.Header-item {
	flex: 0 1 auto;
	font-size: var(--font-size-sm);
}

.Header-link {
	display: block;
	padding-inline: var(--space-sm);
}

.Intro {
	padding-block: var(--space-lg);

	@media (--mq-small) {
		padding-inline: calc((var(--space-sm-int) / var(--page-width-int)) * 100%);
	}

	@media (--mq-medium) {
		padding-block: var(--space-xxl);
		padding-inline: calc(((var(--grid-column-width) * 1.5) / var(--page-width-int)) * 100%);
	}
}

.Intro-message {
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-normal);
	line-height: var(--space-lg);
	margin: 0;
}

.Project {
	border-block-start: 1px solid var(--color-border);
	padding-block: var(--space-lg);

	@media (--mq-medium) {
		padding-block: var(--space-xxl);
	}
}

.Project-title {
	color: var(--color-text-header);
	font-size: var(--font-size-xl);
	line-height: var(--space-lg);
	margin-block-end: var(--space-md);
	margin-block-start: 0;
	margin-inline: calc((var(--space-xl-int) / var(--page-width-int)) * 100%);
	text-align: center;

	@media (--mq-small) {
		margin-block-end: var(--space-lg);
	}
}

.Project-images {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	@media (--mq-small) {
		justify-content: space-between;
	}
}

.Project-imageWrap {
	box-shadow: 0 1px 8px var(--color-border);
}

.Project-imageWrap--half {
	@media (--mq-small) {
		max-inline-size: calc((((var(--page-width-int) - var(--space-md-int)) * 0.5) / var(--page-width-int)) * 100%);
	}
}

.Project-imageWrap--third {
	@media (--mq-small) {
		max-inline-size: calc(
			(((var(--page-width-int) - var(--space-md-int)) * 0.33333333) / var(--page-width-int)) * 100%
		);
	}
}

.Project-imageWrap + .Project-imageWrap {
	margin-block-start: var(--space-md);
}

.Project-imageWrap--half + .Project-imageWrap--half,
.Project-imageWrap--third + .Project-imageWrap--third {
	@media (--mq-small) {
		margin-block-start: 0;
	}
}

.Project-image {
	block-size: auto;
	display: block;
	max-inline-size: 100%;
}

.Project-description {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;

	@media (--mq-small) {
		flex-flow: row-reverse nowrap;
	}
}

.Project-body {
	flex: 0 1 auto;
	padding-block-start: var(--space-lg);
	padding-inline: calc((var(--space-xxl-int) / var(--page-width-int)) * 100%);

	@media (--mq-small) {
		inline-size: calc(((var(--grid-column-width) * 7.5) / var(--page-width-int)) * 100%);
		padding-inline: calc(((var(--grid-column-width) * 0.5) / var(--page-width-int)) * 100%);
	}

	@media (--mq-medium) {
		inline-size: calc(((var(--grid-column-width) * 6.5) / var(--page-width-int)) * 100%);
		padding-block-start: var(--space-xl);
		padding-inline: calc((var(--grid-column-width) / var(--page-width-int)) * 100%);
	}
}

.Project-summary {
	flex: 0 1 auto;
	padding-block-start: var(--space-lg);

	@media (--mq-small) {
		inline-size: calc(((var(--grid-column-width) * 4) / var(--page-width-int)) * 100%);
		padding-inline-end: calc(((var(--grid-column-width) * 0.5) / var(--page-width-int)) * 100%);
	}

	@media (--mq-medium) {
		inline-size: calc(((var(--grid-column-width) * 3.5) / var(--page-width-int)) * 100%);
		padding-block-start: var(--space-xl);
		padding-inline-end: calc((var(--grid-column-width) / var(--page-width-int)) * 100%);
	}
}

.Project-summaryItems {
	list-style: none;
	position: relative;

	&::after {
		border-block-end: 1px solid var(--color-border);
		content: "";
		inset-block-end: 0;
		inset-inline: 0;
		position: absolute;
	}
}

.Project-summaryItem {
	block-size: var(--space-md);
	font-size: var(--font-size-xs);
	padding-inline-start: calc((var(--space-xxl-int) / var(--page-width-int)) * 100%);
	position: relative;

	&::before {
		border-block-start: 1px solid var(--color-border);
		content: "";
		inset-block-start: -1px;
		inset-inline: 0;
		position: absolute;
	}

	@media (--mq-small) {
		padding-inline-start: var(--space-sm);
	}
}

.Project-summaryItemTitle {
	display: inline-block;
	inline-size: 3rem;
}

.ButtonGroup {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin-block-start: var(--space-md);

	@media (--mq-large) {
		flex-direction: row;
	}
}

.Button {
	background-color: var(--color-link);
	border-radius: 0.375rem;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: var(--color-background-content);
	display: inline-block;
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-bold);
	line-height: var(--space-md);
	margin-block-end: 0.0625rem;
	margin-block-start: calc(var(--space-sm) + 0.0625rem);
	padding-block: 0.375rem;
	padding-inline: 1.25rem;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	transition: background-color 0.2s, color 0.2s;

	&:hover,
	&:focus {
		background-color: var(--color-link-hover-background);
		color: var(--color-background-content);
	}

	&:first-child {
		margin-block-start: 0.1rem;
	}

	@media (--mq-large) {
		margin-block-start: 0.1rem;
		margin-inline-start: var(--space-sm);

		&:first-child {
			margin-inline-start: 0;
		}
	}
}

.Closing {
	border-block-start: 1px solid var(--color-border);
	padding-block: var(--space-lg);
	padding-inline: calc((var(--space-sm-int) / var(--page-width-int)) * 100%);

	@media (--mq-medium) {
		padding-block: var(--space-xxl);
		padding-inline: calc(((var(--grid-column-width) * 1.5) / var(--page-width-int)) * 100%);
	}
}

.Closing-message {
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-normal);
	line-height: var(--space-xl);
	margin-block-end: var(--space-sm);
	margin-block-start: 0;
	text-align: center;

	@media (--mq-medium) {
		margin-block-end: var(--space-md);
	}
}

.Closing-items {
	line-height: var(--space-lg);
	list-style: none;
	text-align: center;

	@media (--mq-medium) {
		line-height: var(--space-xl);
	}
}

.Footer {
	border-block-start: 1px solid var(--color-border);
	padding-block-end: var(--space-lg);
	padding-block-start: var(--space-sm);
}

.Footer-copyright {
	color: var(--color-text-subtle);
	font-size: var(--font-size-xs);
	line-height: var(--space-md);
	margin: 0;
	text-align: center;
}
