/*	--------------------------------------------------
	VARIABLES
	-------------------------------------------------- */

:root {
	--border-color-base: rgba(0, 0, 0, 0.1);
	--font-stack-base: "Tofino", sans-serif;
	--golden-ratio: 1.61803398875;
	--img-dir: ../img/v6;
	--link-color-base: #ff5b59; /* http://0to255.com/ff6c6a, -1 */
	--link-color-hover: #ff8e8c; /* http://0to255.com/ff6c6a, +2 */
	--page-width: 88.8rem;
	--page-width-int: 888;
	--shadow-color-base: rgba(0, 0, 0, 0.25);
	--text-color-base: #484848;
	--text-color-light: #9f9f9f;
}

/*	--------------------------------------------------
	MEDIA QUERIES
	-------------------------------------------------- */

@custom-media --mq-small (min-width: 600px);
@custom-media --mq-medium (min-width: 800px);
@custom-media --mq-high-dpi (min-resolution: 144dpi);

/*	--------------------------------------------------
	BASE STYLES
	-------------------------------------------------- */

html {
	box-sizing: border-box;
	font-size: 54.6875%; /* 1rem = 8.75px */
	height: 100%;

	@media (--mq-medium) {
		font-size: 62.5%; /* 1rem = 10px */
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: #ff6c6a linear-gradient(to top right, #ff6c6a, #ffbb72) fixed;
	background-size: cover;
	color: var(--text-color-base);
	display: flex;
	font: 400 1.6rem/2.4rem var(--font-stack-base);
	font-kerning: normal;
	margin: 0;
	min-height: 100%;
	padding: 1.8rem 1.2rem;

	@media (--mq-small) {
		padding: 2.4rem;
	}
}

h1 {
	font-size: 2.2rem;
	font-weight: 400;
	line-height: 3rem;
	margin: 0;
	padding: 0 1.2rem;

	@media (--mq-small) {
		font-size: 3rem;
		line-height: 4rem;
	}
}

h2 {
	color: var(--text-color-light);
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0;
	padding: 0 1.2rem;
	text-transform: uppercase;
}

p {
	margin: 0;
	padding: 0 1.2rem;

	@media (--mq-small) {
		padding-right: 3.6rem;
	}
}

p + p {
	margin-top: 2.4rem;
}

a {
	color: var(--link-color-base);
	text-decoration: none;
	transition: color 0.2s;

	&:hover,
	&:focus {
		color: var(--link-color-hover);
	}
}

strong {
	font-weight: 700;
}

small {
	font-size: 1em;
}

/*	--------------------------------------------------
	LAYOUT STYLES
	-------------------------------------------------- */

.l-page {
	background: #fff;
	border-radius: 0.8rem;
	box-shadow: 0 0.4rem 0.8rem var(--shadow-color-base);
	margin: auto;
	max-width: var(--page-width);
}

.l-header {
	margin-bottom: 2.4rem;
	padding: 3.6rem calc((36 / var(--page-width-int)) * 100%) 0;

	@media (--mq-small) {
		padding-top: 4.8rem;
	}
}

.l-mini-header {
	margin-bottom: 0;
}

.l-content {
	padding: 0 calc((36 / var(--page-width-int)) * 100%);
}

.l-grid {
	display: flex;
	flex-flow: row wrap;
}

.l-col-two-thirds,
.l-col-one-third,
.l-col-golden-main,
.l-col-golden-sub {
	width: 100%;
}

.l-col-two-thirds {
	@media (--mq-small) {
		width: calc((2 / 3) * 100%);
	}
}

.l-col-one-third {
	@media (--mq-small) {
		width: calc((1 / 3) * 100%);
	}
}

.l-col-golden-main {
	@media (--mq-small) {
		width: calc((1 / var(--golden-ratio)) * 100%);
	}
}

.l-col-golden-sub {
	@media (--mq-small) {
		width: calc((1 - (1 / var(--golden-ratio))) * 100%);
	}
}

.l-col-padded {
	padding: 1.2rem 0;

	@media (--mq-small) {
		padding-left: 1.2rem;
		padding-right: 1.2rem;
	}
}

.l-col-no-left-padding {
	padding-left: 0;
}

.l-col-no-right-padding {
	padding-right: 0;
}

.l-section {
	border-top: 1px solid var(--border-color-base);
	padding: 3.6rem 0;

	@media (--mq-small) {
		padding: 4.8rem 0;
	}
}

.l-section > h1 {
	font-weight: 700;
	line-height: 3.6rem;
	padding-left: 1.2rem;
}

.l-footer {
	border-top: 1px solid var(--border-color-base);
	margin: 2.4rem calc((36 / var(--page-width-int)) * 100%) 1.2rem;

	@media (--mq-small) {
		margin-top: 3.6rem;
	}
}

.l-footer-extra-space {
	margin-top: 3.6rem;

	@media (--mq-small) {
		margin-top: 4.8rem;
	}
}

.l-footer > p {
	/*  border + padding + line-height here adds up to 36 or 1.5x standard line height */
	color: var(--text-color-light);
	font-size: 1.2rem;
	line-height: 1.8rem;
	margin: 0;
	padding: 0.9rem 1.2rem;
}

/*	--------------------------------------------------
	MODULE STYLES
	-------------------------------------------------- */

.header-one-line {
	line-height: 4.8rem;
}

.header-two-line {
	padding-bottom: 0.2rem;
	padding-top: 0.2rem;
}

.link-subtle {
	border-bottom: 1px dotted var(--text-color-light);
	color: var(--text-color-light);
	transition: none;

	&:hover,
	&:focus {
		border-bottom: 1px solid var(--text-color-base);
		color: var(--text-color-base);
	}
}

.img-block {
	border-radius: 0.5rem;
	display: block;
	height: auto;
	margin: 1.6rem 0 2.4rem;
	max-width: 100%;
	width: 100%;

	@media (--mq-small) {
		margin: 2.4rem 0;
	}
}

.carousel {
	margin: 3.6rem 0 2.4rem;
	position: relative;
}

.carousel-items,
.carousel-item,
.carousel-link,
.carousel-image {
	border-radius: 0.5rem;
}

.carousel-items {
	height: 20.4rem;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}

.carousel-item {
	height: 20.4rem;
	opacity: 0;
	position: absolute;
	transition: opacity 0.6s;

	&:first-child {
		opacity: 1;
	}

	&.is-showing {
		opacity: 1;
	}

	&.is-hidden-immediately {
		opacity: 0;
		transition: none;
	}
}

.carousel-image {
	display: block;
}

.carousel-button {
	bottom: 1.2rem;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 1.2rem;
}

.button {
	background: var(--link-color-base);
	background-clip: padding-box;
	border-radius: 0.5rem;
	box-shadow: inset 0 -1px 0 var(--shadow-color-base);
	color: #fff;
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 2.4rem;
	padding: 0.8rem 2.4rem;
	text-align: center;
	text-shadow: 0 -1px 0 var(--shadow-color-base);
	transition: background 0.2s, color 0.2s;
}

.carousel:hover .carousel-button,
.button:hover {
	background: var(--link-color-hover);
	color: #fff;
}

.button-no-wrap {
	white-space: nowrap;
}

.embed {
	margin: 1.2rem 1.2rem 0;
}

.embed > iframe {
	display: block;
}

.video-4by3 {
	height: 0;
	max-width: 100%;
	padding: 0 1.2rem 75%;
	position: relative;
}

.video-4by3 > iframe {
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.breadcrumb {
	color: var(--border-color-base);
	padding: 0 1.2rem 1.2rem;
}

.breadcrumb > a {
	padding: 0 0.4rem;

	&:first-child {
		padding-left: 0;
	}
}

.breadcrumb > span {
	color: var(--text-color-base);
	padding-left: 0.4rem;
}

.feed {
	list-style: none;
	margin: 0;
	padding: 0;
}

.feed-item {
	border-top: 1px solid var(--border-color-base);
	font-weight: 700;
}

.feed-link {
	display: block;
	font-size: 1.6rem;
	line-height: 2.4rem;
	padding: 1.2rem;
}

.feed-item-date {
	color: var(--text-color-light);
	display: block;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.6rem;
}

.icon-list {
	border-top: 1px solid var(--border-color-base);
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 1.2rem;
}

.icon-list-item {
	float: left;
	font-size: 1.6rem;
	padding-bottom: 1.2rem;
	position: relative;
	width: 50%;

	@media (--mq-small) {
		width: 100%;
	}

	@media (--mq-medium) {
		width: 50%;
	}
}

.icon-list-link {
	color: var(--text-color-light);
	display: block;
	line-height: 2.4rem;
	padding: 0.6rem 1.2rem 0.6rem 3.6rem;

	&:hover {
		color: var(--text-color-base);
	}
}

.icon {
	background-color: transparent;
	fill: currentColor;
}

.icon-28 {
	height: 2.8rem;
	width: 2.8rem;
}

.icon-list .icon {
	left: 0;
	position: absolute;
	top: 0.2rem;
}
