/*	--------------------------------------------------
	IMPORTS
	-------------------------------------------------- */

@import "normalize.css";


/*	--------------------------------------------------
	VARIABLES
	-------------------------------------------------- */

:root {
	--base-font-size: 17;
	--base-text-color: #537681;
	--base-unit: 28;
	--border-color: color(var(--base-text-color) a(25%));
	--page-width: 1280;
	--page-background-color: #eff3f5;
	--small-font-size: 13;
}


/*	--------------------------------------------------
	MEDIA QUERIES
	-------------------------------------------------- */

@custom-media --mq-small (min-width: 640px);
@custom-media --mq-medium (min-width: 960px);


/*	--------------------------------------------------
	STYLES
	-------------------------------------------------- */

html {
	box-sizing: border-box;
	font-size: 87.5%;

	@media (--mq-medium) {
		font-size: 100%;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: var(--page-background-color);
	color: var(--base-text-color);
	font: normal 400 var(--base-font-size)px/var(--base-unit)px "Ideal Sans SSm A", "Ideal Sans SSm B", sans-serif;
	font-kerning: normal;
}

p,
ul,
dl,
dd {
	margin: 0;
	padding: 0;
}

p + p,
p + ul,
ul + p {
	margin-top: var(--base-unit)px;
}

a {
	color: #0a8db8;
	font-weight: 600;
	text-decoration: none;
	transition: color 0.2s;

	&:hover,
	&:focus {
		color: #075c77;
	}
}

header {
	background: #fff;
	box-shadow: 0 1px 8px color(var(--base-text-color) a(25%));
	position: relative;
}

header > div {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: var(--page-width)px;
	padding: var(--base-unit)px 0 calc(var(--base-unit)px * 0.75);

	@media (--mq-small) {
		flex-direction: row;
		padding-top: calc(var(--base-unit)px * 1.75);
	}
}

header h1 {
	flex: 0 1 auto;
	font: normal 700 15px/var(--base-unit)px "Sentinel SSm A", "Sentinel SSm B", serif;
	margin: 0;
	text-align: center;

	@media (--mq-small) {
		margin: 0 calc(var(--base-unit)px * 0.5) 0 calc((40 / var(--page-width)) * 100%);
		text-align: left;
	}
}

header h2 {
	color: #9cb7c0;
	flex: 0 1 auto;
	font: italic 400 15px/calc(var(--base-unit)px * 0.5) "Sentinel SSm A", "Sentinel SSm B", serif;
	margin: 0 0 var(--base-unit)px;
	text-align: center;

	@media (--mq-small) {
		border-left: 1px solid var(--border-color);
		line-height: var(--base-unit)px;
		margin-bottom: 0;
		padding-left: calc(var(--base-unit)px * 0.5);
		text-align: left;
	}
}

header ul {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	list-style: none;

	@media (--mq-small) {
		justify-content: flex-end;
		margin-right: calc(((40 - (var(--base-unit) * 0.5)) / var(--page-width)) * 100%); /* Subtracts the amount of right padding on header li a */
	}
}

header li {
	flex: 0 1 auto;
	font-size: 14px;
}

header a {
	color: #5a808b;
	display: block;

	&:hover,
	&:focus {
		color: #2b3e43;
	}
}

header li a {
	padding: 0 calc(var(--base-unit)px * 0.5);
}

section {
	background: linear-gradient(#bbced3, var(--page-background-color)) no-repeat;
	background-size: 100% 450px;
}

section > div {
	margin: 0 auto;
	max-width: var(--page-width)px;
	padding: calc(var(--base-unit)px * 2) 0 calc(var(--base-unit)px * 3);

	@media (--mq-small) {
		padding: calc(var(--base-unit)px * 3) 0 calc(var(--base-unit)px * 4.5);
	}
}

section h1 {
	color: #385158;
	font: normal 700 36px/calc(var(--base-unit)px * 1.5) "Sentinel A", "Sentinel B", serif;
	margin: 0 calc(((var(--base-unit) * 2) / var(--page-width)) * 100%) calc(var(--base-unit)px * 1.25) calc(((var(--base-unit) * 2) / var(--page-width)) * 100%);
	text-align: center;

	@media (--mq-small) {
		margin-bottom: calc(var(--base-unit)px * 1.5);
	}
}

.lazy {
	display: none; /* These will be shown again with .show() once the lazy load plugin is initialized in combined.js */
}

.images {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	@media (--mq-small) {
		justify-content: space-between;
	}
}

.image {
	box-shadow: 0 1px 8px color(var(--base-text-color) a(25%));
}

.image-half {
	@media (--mq-small) {
		max-width: calc((((var(--page-width) - var(--base-unit)) * 0.5) / var(--page-width)) * 100%);
	}
}

.image-third {
	@media (--mq-small) {
		max-width: calc((((var(--page-width) - var(--base-unit)) * 0.33333333) / var(--page-width)) * 100%);
	}
}

.image + .image {
	margin-top: var(--base-unit)px;
}

.image-half + .image-half,
.image-third + .image-third {
	margin-top: var(--base-unit)px;

	@media (--mq-small) {
		margin-top: 0;
	}
}

.image > img {
	display: block;
	height: auto;
	max-width: 100%;
}

.description {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;

	@media (--mq-small) {
		flex-flow: row-reverse nowrap;
	}
}

/*
	Total page width is 1080, and 1080 / 24 = 45.
	.body-copy: padding-right of 4, width of 21, padding-left of 4.25. 4 + 21 + 4.25 = 29.25.
	.summary: padding-right: of 4.25, width of 11.5. 4.25 + 11.5 = 15.75.
	29.25 + 15.75 = 45.

	This is basically 2/3 to body-copy and 1/3 to summary, though not quite (0.65/0.35), since it started as a total page width of 972,
	and an even amount of whitespace was added to both sides.
*/

.body-copy {
	flex: 0 1 auto;
	padding: calc(var(--base-unit)px * 2) calc(((var(--base-unit) * 3.5) / var(--page-width)) * 100%) 0 calc(((var(--base-unit) * 3.5) / var(--page-width)) * 100%);

	@media (--mq-small) {
		padding-left: calc(((var(--base-unit) * 4.25) / var(--page-width)) * 100%);
		padding-right: calc(((var(--base-unit) * 4) / var(--page-width)) * 100%);
		width: calc(((var(--base-unit) * 29.25) / var(--page-width)) * 100%);
	}
}

.body-copy ul {
	list-style: circle outside;
	padding-left: 19px;

	@media (--mq-medium) {
		padding-left: 17px;
	}
}

.body-copy li {
	font-size: 13px;
	line-height: var(--base-unit)px;
}

.summary {
	flex: 0 1 auto;
	padding-top: calc(var(--base-unit)px * 2);

	@media (--mq-small) {
		padding-right: calc(((var(--base-unit) * 4.25) / var(--page-width)) * 100%);
		width: calc(((var(--base-unit) * 15.75) / var(--page-width)) * 100%);
	}
}

.summary ul {
	list-style: none;
	position: relative;

	&::after {
		border-bottom: 1px solid var(--border-color);
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
	}
}

.summary li {
	font-size: var(--small-font-size)px;
	height: var(--base-unit)px;
	padding-left: calc(((var(--base-unit) * 3.5) / var(--page-width)) * 100%);
	position: relative;

	&::before {
		border-top: 1px solid var(--border-color);
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: -1px;
	}

	@media (--mq-small) {
		padding-left: calc(var(--base-unit)px / 2);
	}
}

.summary strong {
	display: inline-block;
	width: 48px;
}

.button-container {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin-top: var(--base-unit)px;

	@media (--mq-medium) {
		flex-direction: row;
	}
}

.button-container .button {
	@media (--mq-medium) {
		margin-left: calc(var(--base-unit)px * 0.5);
	}
}

.button-container .button:first-child {
	@media (--mq-medium) {
		margin-left: 0;
	}
}

.button {
	background-color: #0ca6d8;
	border-radius: 5px;
	box-shadow: inset 0 -1px 0 color(#000 a(25%));
	color: #fff;
	display: inline-block;
	font-size: 16px;
	line-height: var(--base-unit)px;
	margin: 1px 0;
	padding: 6px 20px;
	text-shadow: 0 -1px 0 color(#000 a(25%));
	transition: background-color 0.2s, color 0.2s;

	&:hover,
	&:focus {
		background-color: #0a8db8;
		color: #fff;
	}
}

footer > div {
	border-top: 1px solid var(--border-color);
	margin: 0 auto;
	max-width: var(--page-width)px;
	padding: calc(var(--base-unit)px * 0.5) 0 calc(var(--base-unit)px * 1.5);
}

footer p {
	color: #7da1ac;
	font-size: var(--small-font-size)px;
	line-height: var(--base-unit)px;
	margin: 0 calc((40 / var(--page-width)) * 100%);
	text-align: center;
}
