@import "normalize.css";


/*  --------------------------------------------------
    VARIABLES
    -------------------------------------------------- */

:root {
    --base-font-size: 15;
    --small-font-size: 11;
    --base-unit: 24;
    --page-width: 1080;
    --page-background-color: #eff3f5;
    --base-text-color: #537681;
    --border-color: fade(var(--base-text-color), 25%);
}


/*  --------------------------------------------------
    MEDIA QUERIES
    -------------------------------------------------- */

@custom-media --mq-medium screen and (max-width: 800px);
@custom-media --mq-small screen and (max-width: 600px);


/*  --------------------------------------------------
    MIXINS
    -------------------------------------------------- */

@define-mixin pie-clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}


/*  --------------------------------------------------
    STYLES
    -------------------------------------------------- */

html {
    font-size: calc((var(--base-font-size) / 16) * 1%);

    @media (--mq-medium) {
        font-size: calc((13 / 16) * 1%);
    }
}

body {
    background: var(--page-background-color);
    color: var(--base-text-color);
    font-family: "Ideal Sans SSm A", "Ideal Sans SSm B";
    font-size: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: var(--base-unit)px;
    text-rendering: optimizeLegibility;
}

p,
ul,
dl,
dd {
    margin: 0;
    padding: 0;
}

p + p,
p + ul,
ul + p {
    margin-top: var(--base-unit)px;
}

a {
    color: #0a8db8;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s;

    &:hover,
    &:focus {
        color: #075c77;
    }
}

header {
    background: #fff;
    box-shadow: 0 1px 8px fade(var(--base-text-color), 25%);
    position: relative;
}

header > div {
    @mixin pie-clearfix;
    max-width: var(--page-width)px;
    margin: 0 auto;
    padding: calc(var(--base-unit)px * 1.75) 0 calc(var(--base-unit)px * 0.75);

    @media (--mq-small) {
        padding-top: var(--base-unit)px;
    }
}

header h1 {
    float: left;
    font-family: "Sentinel SSm A", "Sentinel SSm B";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: var(--base-unit)px;
    margin: 0 calc(var(--base-unit)px * 0.5) 0 calc((40 / var(--page-width)) * 1%);
    position: relative;
    top: -2px;

    @media (--mq-small) {
        float: none;
        margin: 0;
        text-align: center;
        top: 0;
    }
}

header h2 {
    border-left: 1px solid var(--border-color);
    color: #9cb7c0;
    float: left;
    font-size: 13px;
    font-family: "Sentinel SSm A", "Sentinel SSm B";
    font-style: italic;
    font-weight: 400;
    line-height: var(--base-unit)px;
    margin: 0;
    padding-left: calc(var(--base-unit)px * 0.5);
    position: relative;
    top: -1.25px; /* Normally this would be 1 but the extra 0.25 is to ensure it's still -1px when the font-size is reduced */

    @media (--mq-small) {
        border-left: 0;
        float: none;
        line-height: calc(var(--base-unit)px * 0.5);
        margin-bottom: var(--base-unit)px;
        padding: 0;
        text-align: center;
        top: 0;
    }
}

header ul {
    float: right;
    list-style: none;
    margin-right: calc((40 - (var(--base-unit) * 0.5)) / var(--page-width)); /* Subtracts the amount of right padding on header li a */

    @media (--mq-small) {
        float: none;
        margin: 0;
        text-align: center;
    }
}

header li {
    float: left;
    font-size: 13px;
    line-height: var(--base-unit)px;
    margin: 0;

    @media (--mq-small) {
        display: inline-block;
        float: none;
    }
}

header li a {
    float: left;
    padding: 0 calc(var(--base-unit)px * 0.5);

    @media (--mq-small) {
        display: inline-block;
        float: none;
    }
}

header a {
    color: #5a808b;

    &:hover,
    &:focus {
        color: #2b3e43;
    }
}

#main section {
    background: linear-gradient(#bbced3, var(--page-background-color)) no-repeat;
    background-size: 100% 450px;
}

#main section > div {
    @mixin pie-clearfix;
    max-width: var(--page-width)px;
    margin: 0 auto;
    padding: calc(var(--base-unit)px * 3) 0 calc(var(--base-unit) * 4.5);

    @media (--mq-small) {
        padding: calc(var(--base-unit)px * 2) 0 calc(var(--base-unit)px * 3);
    }
}

#main h1 {
    color: #385158;
    font-family: "Sentinel A", "Sentinel B";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: calc(var(--base-unit)px * 1.5);
    margin: 0 calc(((var(--base-unit) * 2) / var(--page-width)) * 1%) calc(var(--base-unit) * 1.5) calc(((var(--base-unit) * 2) / var(--page-width)) * 1%);
    text-align: center;

    @media (--mq-small) {
        margin-bottom: calc(var(--base-unit)px * 1.25);
    }
}

#main img {
    box-shadow: 0 1px 8px fade(var(--base-text-color), 25%);
    display: block;
    height: auto;
    margin-top: var(--base-unit)px;
    width: 100%;
}

#main .lazy {
    display: none; /* These will be shown again with .show() once the lazy load plugin is initialized in combined.js */
}

#main .half-size {
    clear: none;
    float: left;
    margin: 0 0 var(--base-unit)px;
    max-width: calc((((var(--page-width) - var(--base-unit)) * 0.5) / var(--page-width)) * 1%);
}

#main .half-size-right {
    float: right;
}

/*
    Total page width is 1080, and 1080 / 24 = 45.
    .body-copy: padding-right of 4, width of 21, padding-left of 4.25. 4 + 21 + 4.25 = 29.25.
    .summary: padding-right: of 4.25, width of 11.5. 4.25 + 11.5 = 15.75.
    29.25 + 15.75 = 45.

    This is basically 2/3 to body-copy and 1/3 to summary, though not quite (0.65/0.35), since it started as a total page width of 972,
    and an even amount of whitespace was added to both sides.
*/

.body-copy {
    float: left;
    padding: calc(var(--base-unit)px * 1.5) calc(((var(--base-unit) * 4) / var(--page-width)) * 1%) 0 calc(((var(--base-unit) * 4.25) / var(--page-width)) * 1%);
    width: calc((var(--base-unit) * 21) / var(--page-width));

    @media (--mq-small) {
        float: none;
        padding-left: percentage((var(--base-unit) * 3.5) / var(--page-width));
        padding-right: percentage((var(--base-unit) * 3.5) / var(--page-width));
        width: auto;
    }
}

.body-copy ul {
    list-style: circle outside;
    padding-left: 17px;

    @media (--mq-medium) {
        padding-left: 19px;
    }
}

.body-copy li {
    font-size: 13px;
    line-height: var(--base-unit)px;
}

.summary {
    float: right;
    padding: calc(var(--base-unit)px * 1.5) calc(((var(--base-unit) * 4.25) / var(--page-width)) * 1%) 0 0;
    width: calc(((var(--base-unit) * 11.5) / var(--page-width)) * 1%);

    @media (--mq-small) {
        float: none;
        padding-right: 0;
        width: auto;
    }
}

.summary dl {
    border-bottom: 1px solid var(--border-color);
}

.summary dt,
.summary dd {
    font-size: var(--small-font-size)px;
    line-height: 18px;
}

.summary dt {
    clear: left;
    float: left;
    font-weight: 600;
    padding: 4px 0 2px 12px;
    width: 48px;

    @media (--mq-small) {
        padding-left: calc(((var(--base-unit) * 3.5) / var(--page-width)) * 1%);
    }
}

.summary dd {
    border-top: 1px solid var(--border-color);
    padding: 2px var(--base-unit)px 3px 0;
}

.button {
    background: #0ca6d8;
    border-radius: 5px;
    box-shadow: inset 0 -1px 0 fade(#000, 25%);
    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: var(--base-unit)px;
    margin-bottom: 4px;
    padding: 4px 16px;
    text-shadow: 0 -1px 0 fade(#000, 25%);

    &:hover,
    &:focus {
        background-color: #0a8db8;
        color: #fff;
    }
}

footer > div {
    border-top: 1px solid var(--border-color);
    max-width: var(--page-width)px;
    margin: 0 auto;
    padding: calc(var(--base-unit) * 0.5) 0 calc(var(--base-unit)px * 1.5);
}

footer p {
    color: #7da1ac;
    font-size: var(--small-font-size)px;
    line-height: var(--base-unit)px;
    margin: 0 calc((40 / var(--page-width)) * 1%);
    text-align: center;
}
