extends ../../templates/layouts/base

block title
    title Fonts - Steve Cochrane

block description
    meta(name="description", content="Fonts made by Steve Cochrane, a front-end developer and designer from Austin, Texas.")

block openGraph
    meta(property="og:url", content="http://stevecochrane.com/fonts/")
    meta(property="og:title", content="Fonts")
    meta(property="og:description", content="Fonts made by Steve Cochrane, a front-end developer and designer from Austin, Texas.")
    meta(property="og:site_name", content="Steve Cochrane")
    meta(property="og:image", content="http://stevecochrane.com/tumblr/images/portrait-512.png")

block page
    header.l-header.l-mini-header
        nav.breadcrumb #[a(href="/") Steve Cochrane] / #[span Fonts]
    .l-content
        section#marietta-seven.l-section
            h1 Marietta Seven
            .font-specimen-marietta-seven
                .font-specimen-marietta-seven-inner
                    img(src="/img/v6/marietta-seven-specimen.png", alt="Marietta Seven font specimen, displayed at 8px and 16px size.", width="576", height="216")
            .l-col-two-thirds
                p A wide, serifed, tiny (7px tall) pixel font, made for retro-styled videogames and inspired by western and Clarendon typefaces. Intended for font sizes divisible by 8. Some manual kerning with awkward letter pairs like WA and AV might be necessary as kerning tables weren&apos;t implemented.
                p Marietta Seven is public domain so do with it what you want! This was made with the amazing #[a(href="http://fontstruct.com/") FontStruct].
                p: a.button(href="http://stevecochrane.com/fonts/marietta/marietta-seven-v1.0.zip") Download Marietta Seven #[span.button-no-wrap (TrueType font, 4KB ZIP)]
        section#marietta-five.l-section
            h1 Marietta Five
            .font-specimen-marietta-five
                .font-specimen-marietta-five-inner
                    img(src="/img/v6/marietta-five-specimen.png", alt="Marietta Five font specimen, displayed at 8px and 16px size.", width="410", height="168")
            .l-col-two-thirds
                p An even tinier (5px tall) pixel font, in the same style as Marietta Seven. Also intended for font sizes divisible by 8, and it works pretty well on an 8x8 pixel grid if monospacing is needed. Pairs well (naturally) with Marietta Seven. Marietta Five is also public domain and was also made with #[a(href="http://fontstruct.com/") FontStruct].
                p: a.button(href="http://stevecochrane.com/fonts/marietta/marietta-five-v1.1.zip") Download Marietta Five #[span.button-no-wrap (TrueType font, 4KB ZIP)]

block script
    script(src="/js/main.js")
