extends ../../templates/layouts/base

block title
    title Music - Steve Cochrane

block description
    meta(name="description", content="I occasionally make electronic music for the Nintendo Entertainment System. Is that weird?")

block openGraph
    meta(property="og:url", content="http://stevecochrane.com/music/")
    meta(property="og:title", content="Music")
    meta(property="og:description", content="I occasionally make electronic music for the Nintendo Entertainment System. Is that weird?")
    meta(property="og:site_name", content="Steve Cochrane")
    meta(property="og:image", content="http://stevecochrane.com/tumblr/images/portrait-512.png")

block twitterCards
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@stevecochrane")
    meta(name="twitter:title", content="Music")
    meta(name="twitter:description", content="I occasionally make electronic music for the Nintendo Entertainment System. Is that weird?")
    meta(name="twitter:image", content="http://stevecochrane.com/tumblr/images/portrait-512.png")

block page
    header.l-header
        nav.breadcrumb #[a(href="/") Steve Cochrane] / #[span Music]
        h1.header-two-line I occasionally make electronic music for the #[a(href="http://en.wikipedia.org/wiki/Nintendo_entertainment_system") Nintendo Entertainment System]. Is that weird?
    .l-content
        section#the-mountaineers.l-section
            p Here&apos;s a sample of the music for my work-in-progress videogame The Mountaineers:
            .embed
                iframe(width="100%", height="120", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F77080730&amp;color=ff5b59&amp;auto_play=false&amp;show_artwork=false")
            .embed
                iframe(width="100%", height="120", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F98494888&amp;color=ff5b59&amp;auto_play=false&amp;show_artwork=false")
        section#bebot.l-section
            p Here&apos;s something I made with the amazing #[a(href="http://www.normalware.com") Bebot for iOS]:
            .embed
                .video-4by3
                    iframe(width="504", height="378", src="//www.youtube.com/embed/MGcq13crBFE?rel=0", frameborder="0", allowfullscreen)
        section#good-ending.l-section
            p And here&apos;s my first song, from 2008. The MML code used to generate this is #[a(href="https://github.com/stevecochrane/Good-Ending") available on GitHub].
            .embed
                iframe(width="100%", height="120", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F101812358&amp;color=ff5b59&amp;auto_play=false&amp;show_artwork=false")
